<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
    <%= simple_form_for :transaction, url: account_transaction_path, html: { class: 'form-inline' }, remote: true do |f| %>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div id='sent-point-error' class="alert alert-danger d-none">
        </div>
        <div class="modal-body">
          <%= f.input :receiver_type, as: :hidden, input_html: { value: :User } %>
          <%= f.input :receiver_id, collection: user_collection_of_current_organization %>
          <%= f.input :amount, as: :integer %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <%= f.submit 'Sent points', class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<script>
$('#sent-point-error').bind('ajax:success', function(xhr, data, status) {
  $(this).before('<p>'+data.msg+'</p>');
   });
 
$('#sent-point-error').bind('ajax:error', function() {
  alert("Error: Message could not be sent.");
});
</script>