<div class="sidebar">
  <ul>
    <li>
      <%= link_to home_public_pages_path do %>
        <span class="icon"><i class="fas fa-user-circle"></i></span>
        <span class="title">Profile</span>
      <% end %>
    </li>
    <li>
      <%= link_to home_public_pages_path do %>
        <span class="icon"><i class="fas fa-home"></i></span>
        <span class="title">Home</span>
      <% end %>
    </li>
    <li>
      <%= link_to home_public_pages_path do %>
        <span class="icon"><i class="fas fa-phone-square"></i></span>
        <span class="title">Contact Us</span>
      <% end %>
    </li>
    <li>
      <%= link_to home_public_pages_path do %>
        <span class="icon"><i class="fas fa-info-circle"></i></span>
        <span class="title">About Us</span>
      <% end %>
    </li>
    <li>
      <%= link_to home_public_pages_path do %>
        <span class="icon"><i class="fas fa-money-bill-wave"></i></span>
        <span class="title">Prices</span>
      <% end %>
    </li>
  </ul>
</div>